<section class="cover">

    <div class="overlay">

        <img 
        class="logo"
        src="{{logo}}"
        >

        <h1>
            PERSONALIZED<br>
            DENTAL<br>
            TREATMENT<br>
            PROPOSAL
        </h1>


        <div class="patient-box">

            <p>Prepared for:</p>

            <h2>
                {{patientName}}
            </h2>

        </div>


        <p class="location">
            Duty Clinic Istanbul<br>
            Istanbul, Türkiye
        </p>


    </div>

</section>